.landing-section{

}

.landing-section p{
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.section-subline{
  color: #2C2C2C;
  font-size: 1rem;
  font-weight: 400;
}

.section-headline{
  color: #3C3D41;
  font-size: 3rem;
  font-weight: 400;
}

.first{
  height: 600px;
  background-color: #FFF;
  text-align: center;
}

.first .left-ring{
  position: absolute;
  top: 220px;
  left: -120px;
  background-image: url('../image/na50small.png');
  background-repeat: no-repeat;
  background-size: cover; 
  width: 400px;
  height: 400px;
}

.first .right-tower{
  position: absolute;
  top: 100px;
  right: -100px;
  background-image: url('../image/na100small.png');
  background-repeat: no-repeat;
  background-size: cover; 
  width: 400px;
  height: 600px;
}