.landing-section{
  overflow-x: hidden;
}

.landing-section p{
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.section-subline{
  color: #2C2C2C;
  font-size: 1rem;
  font-weight: 400;
}

.section-headline{
  color: #3C3D41;
  font-size: 2.5rem;
  font-weight: 400;
}

.first{
  height: 600px;
  background-color: #FFF;
  text-align: center;
  position: relative;
  overflow: hidden;
}


img.left-ring {
  width: 100%; 
  max-width: 400px; 
  position:absolute; 
  left: -20%; 
  top: 120px;
}

img.right-tower {
  width: 100%; 
  max-width: 400px; 
  position:absolute; 
  right: -20%; 
  top: 20px;
}

.middle-text{
  margin-top: 50%;
}

@media only screen and (max-width: 992px) {
  .middle-text{
    margin-top: 5%;
  }
}