.landing-section{
  overflow-x: hidden;
}

.landing-section p{
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.section-subline{
  color: #2C2C2C;
  font-size: 1rem;
  font-weight: 400;
}

.section-headline{
  color: #3C3D41;
  font-size: 2.5rem;
  font-weight: 400;
}

.first{
  height: 600px;
  background-color: #FFF;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.first .middle-text{
  margin-top: 50%;
}

.first img.left-ring {
  width: 100%; 
  max-width: 400px; 
  position:absolute; 
  left: -20%; 
  top: 120px;
}

.first img.right-tower {
  width: 100%; 
  max-width: 400px; 
  position:absolute; 
  right: -20%; 
  top: 20px;
}

@media only screen and (max-width: 768px) {
  .first .middle-text{
    margin-top: 5%;
  }

  .first img.left-ring{
    width: 120%;
    left: -15%;
  }

  .first img.right-tower{
    width: 120%;
    right: -15%;
  }
}


.second {
  background-image: url('../image/landingWomen.png');
  background-repeat: no-repeat;
  background-position:center top;
  background-size: cover;
}

.second .middle-top-text{
  margin-top: 7rem;
}

.second .middle-center-text{
  max-width: 700px;
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.second .middle-bottom-text{
  margin-top: 6rem;
  margin-bottom: 8rem;
}


.third {

}

.third img.ring {
  width: 100%; 
  position: absolute;
  bottom: 0px;
}

.third .right-top-text{
  margin-top: 5rem;
}

.third .right-center-text{
  max-width: 400px;
  margin-top: 2rem;
  padding-right: 1rem;
}

.third .right-bottom-text{
  margin-top: 6rem;
  margin-bottom: 5rem;
}

@media only screen and (max-width: 768px) {
  .third {
    text-align: center;
  }

  .third img.ring {
    position: initial;
  }

  .third .right-center-text{
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .third .right-bottom-text{
    margin-top: 5rem;
    margin-bottom: 3rem;
  }
}


