body{
  height: 100%;

  /* 300 = light, 400 = regular, 700 = bold */
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;

  background: #FFF;

  color: #2C2C2C;
  font-size: 15px;

  padding-bottom: 50px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* bootstrap navbar customization */
nav.navbar {
  height: 5em;
  font-weight: 400;
  background-color: #F7F7F7;
  padding-left: 3rem;
}

a.navbar-brand {
  padding-left: 1rem;
  padding-right: 1rem;

  background-color: #74AA50;
}

.navbar-brand img{
  position: relative;
  top:20%;
}

ul.navbar-nav {
  padding-right: 3rem;
}

ul.navbar-nav li{
  margin-left: 1rem;
  margin-right: 1rem;
}

.dropdown-toggle:after {
  display: none;
}

.dropdown-menu{
  border-radius: 0;
  border: none;
  background-color: #F7F7F7;
}

.dropdown-item{
  color: rgba(0,0,0,.5);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.dropdown-item:hover{
  color: #4A4A4A;
}

li.active {
  font-weight: 600;
}

@media only screen and (max-width: 992px) {
    nav.navbar{
      background-color: #74AA50;
      justify-content: center;
      padding-left: 0;
      padding-right: 0;

      height: 3.5rem;
    }

    .navbar-brand img{
      top: 10%;
    }

    .nav-item{
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      border-top: 1px solid #DDD;
    }

    /* reduce the left spacing from the side menu icon to the left edge of screen */
    .navbar-toggler {
      position: absolute;
      left: 0.5rem;

      border: none;
    }

    a.navbar-brand {
      position: relative;
    }

    .navbar-collapse ul{
      padding-right: 0;
    }

    .navbar-collapse {
      z-index: 2;
    }
    
    .navbar-collapse .navbar-nav{
      background-color: #F7F7F7;
    }


    .dropdown-item, .dropdown-menu {
      /*background-color: #FFFFFF;*/
    }

    

    /* change the icon of side menu icon */
    .navbar-dark[class*="collapsed"] .navbar-toggler-icon {
      background-image: url('../image/threedots.png');
      background-size: contain;
    }

    .navbar-dark .navbar-toggler-icon {
      background-image: url('../image/cross.png');
      background-size: contain;
    }
}

/* Bootstrap Accordion customization */
.accordion .card {
  border-radius: 0;
  background-color: #FCFCFC;
  border-left: none;
  border-right: none;
  border-top: none;
}

.card .card-header{
  background-color: transparent;
  padding-left: 0.5rem;
}

.card-header .fa {
  position: absolute;
  top: 1.4rem;
  right: 1rem;
}

.card-body{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* custom styling */
.green-button{
  background-color: #7AA550;
  color: #FFF;
  padding: 0.5rem 1.9rem;
  border-radius: 1.2rem;
}

footer {
  border-top: 8px solid #DEDEDE;
  background-color: #FCFCFC;
  padding-top: 5rem;
}

.footer-desktop {
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  max-width: 860px;


  border-bottom: 2px solid #EAEAEA;
}

.footer-desktop ul{
  list-style-type: none;
  padding-left: 0.5rem;
}

.footer-desktop ul li{
  padding-top: 0.35rem;
  padding-bottom: 0.35rem;
}

.footer-desktop a{
  color: #979797;
}

.footer-mobile {
  margin-left: 1rem;
  margin-right: 1rem;
}

.footer-mobile .btn-link {
  color: #2C2C2C;
}

.footer-mobile ul{
  list-style-type: none;
  padding-left: 0.2rem;
  margin-bottom: 0;
}

.footer-mobile ul li{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.footer-mobile a {
  color: #2C2C2C;
}

.footer-title{
  color: #2C2C2C;
  font-size: 1rem;
  font-weight: 600;
}

.footer-copyright {
  text-align: center;
  padding-top: 2.5rem;
  color: #979797;
}

.footer-copyright p{
  margin-bottom: 0.5rem;
}

.footer-copyright a {
  color: #2C2C2C;
}

.footer-copyright .copyright{
  font-size: 0.8rem;
}

@media only screen and (max-width: 767px) {
  footer {
    border-top: 1px solid #DEDEDE;
  }

  .footer-desktop {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .footer-mobile {
    display: none;
  }
}